<p id="notice"><%= notice %></p>

<h1>Autos</h1>

<table border="3">
  <thead>
    <tr>
      <th>Auto no</th>
      <th>Driver name</th>
      <th>Driver mobile no</th>
      <th>Driver address</th>
      <th>Daily pay</th>
      <th>Balance</th>
      <th>Created </th>
      <th>Updated</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @autos.each do |auto| %>
      <tr>
        <td><%= auto.auto_no %></td>
        <td><%= auto.driver_name %></td>
        <td><%= auto.driver_mobile_no %></td>
        <td><%= auto.driver_address %></td>
        <td><%= auto.daily_pay %></td>
        <td><%= auto.balance %></td>
        <td><%= auto.created_at %></td>
        <td><%= auto.updated_at %></td>

        <td><%= link_to 'Show', auto %></td>
        <td><%= link_to 'Edit', edit_auto_path(auto) %></td>
        <td><%= link_to 'Destroy', auto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Auto', new_auto_path %>
