<p id="notice"><%= notice %></p>

<p>
  <strong>Auto no:</strong>
  <%= @auto.auto_no %>
</p>

<p>
  <strong>Driver name:</strong>
  <%= @auto.driver_name %>
</p>

<p>
  <strong>Driver mobile no:</strong>
  <%= @auto.driver_mobile_no %>
</p>

<p>
  <strong>Driver address:</strong>
  <%= @auto.driver_address %>
</p>

<p>
  <strong>Daily pay:</strong>
  <%= @auto.daily_pay %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @auto.balance %>
</p>

<%= link_to 'Edit', edit_auto_path(@auto) %> |
<%= link_to 'Back', autos_path %>
